/*------ RESET ------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/*----- BOX LAYOUT MODEL -----*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
 /*------ CLEAR -----*/

section:after {
	content: "";
	display: table;
	clear: both;
}

/*------ WEB FONTS ------*/



@font-face {
    font-family: helvetica_neue;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/helveticaneue_normal.eot?#iefix) format("embedded-opentype"), url(../fonts/helveticaneue_normal.woff) format("woff"), url(../fonts/helveticaneue_normal.ttf) format("truetype"), url(../fonts/helveticaneue_normal.svg#helveticaneue_normal) format("svg")
}

@font-face {
    font-family: helvetica_neue;
    src: url(../fonts/helveticaneue_light_standard_65_medium.eot);
    src: url(../fonts/helveticaneue_light_standard_65_medium.eot?#iefix) format('embedded-opentype'), url(../fonts/helveticaneue_light_standard_65_medium.woff) format('woff'), url(../fonts/helveticaneue_light_standard_65_medium.ttf) format('truetype'), url(../fonts/helveticaneue_light_standard_65_medium.svg#helveticaneue_lt_std_65_med) format('svg');
    font-weight: 700;
    font-style: normal
}



/*------ LAYOUT ------*/

body {
    font-family: 'helvetica_neue';
    font-size: 22px;
    line-height: 26px;
	background: #f1f1f1;
}

a {
    color: #000;
}

.wrapper {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
	display: block;
}

/*------ HEADER ------*/

header {
	width: 100%;
	height: 103px;
	background: #fff;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;
}

#langs {
	float: right;
	font: 16px/20px normal Arial;
}

#langs li {
	float: left;
}

#langs a {
	font-weight: 400;
    font-family: arial, sans-serif;
    font-size: 12px;
    margin: 15px 8px 0;
    color: #777;
    line-height: 2;
	display: inline-block;
}

#langs .current a {
	color: #000;
	font-weight: bold;
}

#logo {
	display: inline-block;
	float: right;
	width: 161px;
	height: 17px;
	margin: 15px 20px;
	text-indent: -9999px;
	background: url(../images/sbb-logo.png) no-repeat center center;
	background-size: 100% auto;
}

#logo,
#langs {
	float: right;
}

#navi {
	float: left;
	width: 100%;
	display: block;
}

#navi li {
	float: left;
	padding: 15px;
}

#navi a {
	color: #000;
	font: bold 16px/20px 'helvetica_neue', sans-serif;
}

#navi .active a,
#navi a:hover {
	color: #d10a13;
}

/*------ HERO ------*/

.hero {
	width: 100%;
	background: url(../images/hase-bgr.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 40%;
	margin-top: 103px;
}

.overlay-small {
	position: absolute;
    top: 50%;
    width: 350px;
    left: 0;
    margin-top: -156px;
}


.box_perspective h1 {
    color: #fff;
	font-size: 38px;
	line-height: 40px;
    margin-top: .4em;
    margin-bottom: .5em
}



.box_perspective .content.bg_red,
.box_perspective .content.bg_red a,
.box_perspective .content.bg_red p,
.circle {
    color: #fff;
}

.box_perspective .content {
    margin: -1px 0;
    padding: 42px 20px;
}

.box_perspective .well h3 {
    margin-bottom: 1em
}

.box_perspective .bg_red {
    background-color: #d10a11;
	/*background-color: rgba(209, 10, 17, 0.8);*/
}

.box_perspective .helper.bottom.right .overflow .bg_red,
.box_perspective .helper.top.left .overflow .bg_red {
    -ms-transform: skew(82deg,0deg);
    -webkit-transform: skew(82deg,0deg);
    transform: skew(82deg,0deg);
}

.box_perspective .left,
.box_perspective .right {
    float: none;
}

.box_perspective .helper .overflow img {
    width: 15%;
    height: auto;
}

.box_perspective .helper .overflow {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.box_perspective .helper.left .overflow .bg_red {
    left: -57%;
}
.box_perspective .helper.bottom .overflow .bg_red, .box_perspective .helper.top .overflow .bg_red {
    top: 0;
}
.box_perspective .helper .overflow .bg_red {
    position: absolute;
    width: 100%;
    height: 100%;
}

.box_perspective .helper.bottom.left .overflow .bg_red,
.box_perspective .helper.top.right .overflow .bg_red {
	-ms-transform: skew(-82deg,0deg);
    -webkit-transform: skew(-82deg,0deg);
    transform: skew(-82deg,0deg);
}

.hero .content.bg_red a {
	background: url(../images/circle.svg) no-repeat;
	background-size: 25px 25px;
	background-position: 0 8px;
	padding: 0 0 0 30px;
	display: inline-block;
}

/*------- CONTENT ------*/

.content-text {
	font-size: 55px;
	line-height: 65px;
	padding: 25px 0;
}

.gamebutton {
	background: #d10a11;
	border: none;
	border-radius: 5px;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 25px 0;
	cursor: pointer;
	transition: 1s;
}

.gamebutton:focus {
	outline:0;
}

/*------ CARDS ------*/

.cards-wrapp{
	background: #fff;
	border-radius: 5px;
	margin-bottom: 50px;
}

#cards {
	width: 94%;
	margin: 0 auto;
	padding: 3% 0;
	position: relative;
	perspective: 800px;
	transition: height 2s;
}

.card-wrapp {
	width: 33.3333%;
	padding: 2%;
	position: absolute;
	opacity: 0;
	display: none;
}

.card {
	width: 100%;
	height: 100%;
	/*width: 20vw;
	height: 20vw;*/
	background: #fff;
	float: left;
	border-radius: 10px;
	border: 12px solid #fff;
	box-shadow: #bdbcbc 2px 2px 6px;
	cursor: pointer;
	position: relative;
	transform-style: preserve-3d;
  	transition: transform 1s;
}

.user .card,
.dealer .card {
	cursor: default;
}

.card div {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.card-front {
	background: url(../images/card.svg) no-repeat center center #d10a11;
	background-size: 40% 40%;
	z-index: 2;
}

.card-back {
	background: url(../images/egg.svg) no-repeat center center #13a538;
	background-size: 60% 60%!important;


	z-index: 1;
	transform: rotateY( 180deg );
}

.carrot {
	background: url(../images/carrot.svg) no-repeat center center #13a538;
}

.bunny {
	background: url(../images/bunny.svg) no-repeat center center #13a538;
}

.egg {
	background: url(../images/egg.svg) no-repeat center center #13a538;
}

.card.flipped {
  transform: rotateY( 180deg );
}

#result {
	text-align: center;
	display: none;
}

#result h2 {
	padding: 25px 50px;
	border-radius: 5px;
	display: inline;
	opacity: 0;
	margin: 0 auto;
	color: #fff;
	transition: opacity 4s;
	font-size: 55px;
}

/*------- FORM ------*/

#gameform {
	width: 50%;
	display: none;
	opacity: 0;
	margin: 75px auto 50px;
	padding: 50px;
	background: #f1f1f1;
	border-radius: 5px;
	font-size: 16px;
	line-height: 19px;
	font-family: 'helvetica_neue';
	transition: 3s;
}

#gameform label {
	display: block;
	margin-bottom: 5px;
	font-size: 22px;
    line-height: 26px;
}

#gameform input,
#gameform select {
	display: block;
	border-radius: 2px;
	border:none;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}

#gameform select option {
	padding: 10px;
}

#gameform input[type='checkbox'] {
	display: inline-block;
	width: auto;
	margin: 10px 5px 0 0;
}

#gameform input[type='submit'] {
	margin-top: 50px;
	padding: 10px;
}

#gameform #bahnhof label {
	margin-top: 20px;
	font-size: 16px;
	line-height: 19px;
}
